Source: php5-apcu
Section: php
Priority: optional
Maintainer: Thai Pham <tpham@freelancer.com>
Build-Depends: debhelper (>= 7), po-debconf, php5-dev, libpcre3-dev
Standards-Version: 1.0.3
Homepage: https://github.com/krakjoe/apcu

Package: php5-apcu
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Description: APCu is an in-memory key-value store for PHP. Keys are of type string and values can be any PHP variables.
 APCu only supports userland caching of variables.
 APCu is APC stripped of opcode caching. See APCu Backwards Compatibility Module which provides a drop in replacement for APC.
